.home__hero {
  display: flex;
  justify-content: space-around;
  background-image: url("/public/images/banner/banner_ph.png");
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding: 0 5vw;
}

.home__hero__img {
  background-image: url("/public/images/banner/banner.png");
  width: 35%;
  height: 70vh;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
}
